Q1 

DataBase : DataBase is like a folder or the space where we keep the data.
SQL : SQL stands for Structure Query Language, It is just a language for handling a structured data format. like tables.
NoSQL : Stands for Not Only SQL it genrally use for unstructured data like text, audio, videos, images.

Q2

DDL stands for Data Definition Language actually consists of the SQL commands that can be used to define the database schema.
CREATE : Create is use to create a database or table
DROP : Drop is use to drop or delete a table from database.
ALTER : Alter is use to updation in column name in a table.
TRUNCATE : Truncate is used to delete all the rows from the table.

CREATE DATABASE University;
create Table Course (course_Id INT, Course_name VARCHAR(200), Faculty_id INT,semester INT);

DROP Table Course;

ALTER TABLE Course ADD (Rating INT);

TRUNCATE TABLE Course;

DML stands for Data Manipulation language which deals with data manipulation, includes most common SQL statements
it is used to store, modify, retrieve, delete and update data in a database.

Insert : Insert command intersting the values into the data
Update : The UPDATE statement in SQL is used to update the data of an existing table in database. We can update single columns as well as                multiple columns using UPDATE statement as per our requirement.
Delete : Delete command is use to delete the table

INSERT INTO table_name VALUES (value, value1, value2, value3 ...)

update department set budget = 500
where budget > 100000;

DELETE FROM department
WHERE budget < 1000;

DQL stands for Data Query Language :It is a component of SQL statement that allows getting data from the database and imposing order upon it.
Select is used to Get the data:

Select * from department;

In [ ]:
Primary Key : This is a column where every value is unique it can't be match with other value like student id
Foriegn key : we use the primary key in deferent table and use the column then called that column as foriegn key.

In [4]:
import mysql

ModuleNotFoundError: No module named 'mysql'

In [2]:
# Below code is to connect mysql to python
# Cursor : Curson is just a pointer by which data value go
# Execute : It execute the Mysql command

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("use databases")
for x in mycursor:
  print(x)

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 8.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [16 lines of output]
      /bin/sh: 1: mysql_config: not found
      /bin/sh: 1: mariadb_config: not found
      /bin/sh: 1: mysql_config: not found
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/tmp/pip-install-hfrpp35t/mysqlclient_8d2c683ac49a4448824841f59ce639e2/setup.py", line 15, in <module>
          metadata, options = get_config()
        File "/tmp/pip-install-hfrpp35t/mysqlclient_8d2c683ac49a4448824841f59ce639e2/setup_posix.py", line 70, in get_config
          libs = mysql_config("libs")
        File "/tmp/pip-install-hfrpp35t/mysqlclient_8d2c683ac49a4448824841f59ce639e2/setup_posix.py", line 31, in mysql_config
          raise OSError("{} not found".format(_mysql_config_path))
      OSError: mysql_config not found
      mysql_config --version
      mariadb_config --version
      mysql_config --libs
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [3]:
# order of execution of sql clauses

WITH
SELECT
DISTINCT
Window Functions
FROM
WHERE
GROUP BY
HAVING	
UNION / UNION ALL
ORDER BY
LIMIT / OFFSET

NameError: name 'version' is not defined

In [5]:
import os