Q1.
For loop: When we have the value of i like in the case of list, tuple etc. In that case we use the for loop
While loop: When there is comparison while running the loop

In [1]:
# Q1.
# For loop: When we have the value of i like in the case of list, tuple etc. In that case we use the for loop
# While loop: When there is comparison while running the loop

l = [2,3,4,2]  # Create the list

for i in l:
    print(i)

2
3
4
2

In [2]:
num = 5

while num > 0:  # Checking the num value and the comparison we applied
    print(num)
    num = num - 1

5
4
3
2
1

Q2.
Sum and product of 10 natural Numbers

In [5]:
# Q2.
# Sum and product of 10 natural Numbers

add = 0
prod = 1
for i in range(1,11):
    add = add + i
    prod = prod * i
print(add, prod)

55 3628800

In [7]:
add = 0
prod = 1
n = 10
while n > 0:
    add = add + n
    prod = prod * n
    n = n-1
print(add, prod)

55 3628800

Q3.
Caluculate the Electricity bill for a household

In [27]:
# Q3.
# Caluculate the Electricity bill for a household

total_units = 310
total_charged = 0

for unit in range(1,total_units + 1):
    if unit <= 100:
        total_charged = total_charged + 4.5
    elif unit > 100 and unit <= 200:
        total_charged = total_charged + 6
    elif unit > 200 and unit <= 300:
        total_charged = total_charged + 10
    else:
        total_charged = total_charged + 20
        
total_charged

Q4.
Check the cube of the number is divisible by 4 or 5, form 1 to 100.

In [39]:
# Q4.
# Check the cube of the number is divisible by 4 or 5, form 1 to 100.

# using For loop
num = 0
l = []
for i in list(range(1,101)):
    num = i**3
    if num % 4 == 0 or num % 5==0:
        l.append(i)
    
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [35]:
# using while loop
i = 1
l1 = []
while i <= 100:
    if i**3%4 == 0 or i**3%5 ==0:
        l1.append(i)
    i = i + 1

In [38]:
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

<!-- Q5.
Count the vowels in the string -->

In [46]:
# Q5.
# Count the vowels in the string

string = 'I want to become a data scientist'
vowels_count = 0
for i in string.lower():
    if i in ('a','e','i','o','u'):
        vowels_count = vowels_count + 1
        
vowels_count

12