In [5]:
# def is the keyword to create a funtion
# Create a function to display odd numbers from 1 to 25

def odd_num(a,b):
    l2 = []
    for i in range(a,b+1):
        if i %2 != 0:
            l2.append(i)
    return l2

In [6]:
odd_num(1,25)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [14]:
#Q2
# *args is used to create when we want to pass any numbers of value from the functions
# **Kwargs is used to pass any numbers of items in the dictionary from function

def test(*n):
    return n

def var_dic(**kwargs):
    return kwargs

In [12]:
test(2,3,4,3,4,'Hello')

(2, 3, 4, 3, 4, 'Hello')

In [16]:
var_dic(key1 = 2,Key2 = [2,3,4])

{'key1': 2, 'Key2': [2, 3, 4]}

In [ ]:
#Q3
# Iterator : Iterator can interate the values from the list, tuple, dictionary, str etc. one by one.

In [2]:
#Q4

# Generator Function : Generator Function Generate the outcome directly without storing in the function. Yield funtion is used to throw the
# output from the function

def test(l2):
    for i in l2:
        if i %2 == 0:
            yield i

In [3]:
l2 = [2,4,5,8,3,45,332]
list(test(l2))

[2, 4, 8, 332]

In [36]:
# Q5
# By using Generator Function find the prime numbers between 1 to 1000

def prime_num(a,b):
    for i in range(a+1,b):
        for j in range(2,i):
            if i%j == 0:
                break
        else:
            yield i

In [43]:
print(list(prime_num(1,1000)))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [52]:
for i in iter(list(prime_num(1,1000))[:20]):
    print(i,end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71

In [8]:
# Q6
# Find 10 numbers of Finonacci series

def Finno():
    a,b = 0,1
    while True:
        yield a
        a,b = b,a+b

In [11]:
finonacci = Finno()

for i in range(10):
    print(next(finonacci),end = ' ')

0 1 1 2 3 5 8 13 21 34

In [21]:
# Q7

string = 'pwskills'

In [50]:
[i for i in string]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [48]:
# Q8 Check the number is Palindrome or not

num = 123456787654321
cnt = int(len(str(num))/2)

while cnt >0:
    if str(num)[cnt-1] == str(num)[-cnt]:
        print('Number is Parandrome')
        break
    else:
        print('Number is not Parandrame')
        break
        
    cnt = cnt - 1

Number is Parandrome

In [49]:
# Q9 List Comprihension
[i for i in range(100) if i %2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]