In [55]:
# Q1
class vehicle :
    
    def __init__(self,name_of_vehicle, max_speed, average_of_vehicle) :
        self.name_of_vehicle = name_of_vehicle
        self.max_speed = max_speed
        self.average_of_vehicle = average_of_vehicle
        
#     def display():
#         print(self.name_of_vehicle)

In [56]:
veh = vehicle('Toyota',120,25)

In [64]:
# Q2
class car(vehicle):
    
    def __init__(self,name_of_vehicle, max_speed, average_of_vehicle ,seating_capacity):
        self.seating_capacity = seating_capacity
        
        vehicle.__init__(self,name_of_vehicle, max_speed, average_of_vehicle)
        
    def display(self):
        print(self.name_of_vehicle,self.seating_capacity)

In [65]:
c = car('Toyota',120,25,7)

In [66]:
c.display()

Toyota 7

In [81]:
# Q3
# Multiple Inheritance: We can get the data from multiple classes by linking one to other.

class test :
    
    def t1(self):
        return ('This is my test 1')

In [82]:
class test1(test) :
    
    def t2(self):
        return('This is my test2 data')

In [113]:
class test3(test1):
    
    def t3(self):
        return 'Data Comes from final class'
    
    def display(self):
        return test.t1(self), test1.t2(self) , test3.t3(self)

In [114]:
txt = test3()

In [116]:
txt.display()   # We can acess the class 1 and class 2 data with in class 3 that's called multiple inheritance

('This is my test 1', 'This is my test2 data', 'Data Comes from final class')

Q 4 
Getter : Getter is use to Get the value
Setter : Setter is use to set the value

In [140]:
class pwskills :
    
    def __init__(self,course_name, course_price):
        self.course_name = course_name
        self.__course_price = course_price
     
    @property
    def cp_access(self):
        return self.__course_price
    
    @cp_access.setter
    def sett(self,price):
        self.__course_price = 0 if price < 0 else price
        
    @cp_access.getter
    def gett(self):
        return self.__course_price

In [142]:
pw = pwskills('Data Science',3500)

In [145]:
pw.sett = 250

In [146]:
pw.gett

250

In [147]:
class pwskills :
    
    def __init__(self,course_name, course_price):
        self.course_name = course_name
        self.__course_price = course_price
        
    def cp_access(self):
        return self.__course_price
    
    def setter(self,price):
        self.__course_price = 0 if price < 0 else price

In [148]:
p = pwskills('Data Science',3500)

In [149]:
p.cp_access()

3500

In [150]:
p.setter(455)

In [151]:
p.cp_access()

455

In [5]:
#Q 5
# First we have creted a variable and then we want to change its value then we can overwrite that value.

class pwskills:
    
    def __init__(self, std_id, std_marks):
        self.std_id = std_id
        self.std_marks = std_marks
        
    def get_detail(self):
        return self.std_id, self.std_marks

In [6]:
pw = pwskills(101,52)

In [7]:
pw.get_detail()

(101, 52)

In [8]:
pw.std_marks = 45

In [9]:
pw.get_detail()

(101, 45)